@model QuanLySinhVien.ViewModel.Catalog.ChiTietChuongTrinhDaoTaos.ChiTietChuongTrinhDaoTaoCreateRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ID_ChuongTrinhDaoTao" class="control-label"></label>
                    <input asp-for="ID_ChuongTrinhDaoTao" value="@ViewBag.id_CTDT" class="form-control" />
                    <span asp-validation-for="ID_ChuongTrinhDaoTao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HocKyDuKien" class="control-label"></label>
                    <input asp-for="HocKyDuKien" class="form-control" />
                    <span asp-validation-for="HocKyDuKien" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nam" class="control-label"></label>
                    <input asp-for="Nam" class="form-control" />
                    <span asp-validation-for="Nam" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ID_MonHoc" class="control-label"></label>
                    <input asp-for="ID_MonHoc" class="form-control" list="listMonHọc" placeholder="Môn học..." />
                    <datalist id="listMonHọc">
                        <option value="">Giảng viên</option>
                        @if (ViewBag.monHocs != null)
                        {
                            @foreach (var monHoc in ViewBag.monHocs)
                            {
                                <option value="@monHoc.ID">@monHoc.ID @monHoc.TenMonHoc</option>
                            }
                        }
                    </datalist>
                    <span asp-validation-for="ID_MonHoc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


</div>

